/* =================NAVBAR================== */
.nav-link:hover,
.navbar-brand:hover {
    border-bottom: .5px rgb(180, 180, 180) solid;
}
.social-icon:hover {
    color: rgb(53, 53, 53) !important;
}
/* ========================================= */

/* ==================BODY=================== */
.container-fluid {
    max-width: 1200px;
}
/* ========================================= */

/* =================FOOTER================== */
/* ========================================= */

/* ==================MEDIA================== */
/* ========================================= */